In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as web
from datetime import date, timedelta

Importando arquivo carteira do excel

In [13]:

carteira_df = pd.read_excel(
    r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa.xlsx')
display(carteira_df)

  Ativos  Tipo       Qtde
0   AMZN   NaN  16.123900
1  BRK-A   NaN   0.004661
2  GOOGL   NaN  17.590000
3   LAND   NaN  61.152800
4   MSFT   NaN   7.480000
5   NFLX   NaN   9.126200
6     PG   NaN  14.325700
7   SBUX   NaN  24.012800
8    WPC   NaN  17.979000

Pegando dia de ontem

In [14]:
today = date.today()
yesterday = today - timedelta(days = 1)
print(today)
print(yesterday)

2022-10-28
2022-10-27

Pegando cotações de acordo com os nomes da carteira

In [15]:
cotacoes_carteira = pd.DataFrame()

for ativo in carteira_df['Ativos']:
    cotacoes_carteira[ativo] = web.DataReader('{}'.format(ativo), data_source='yahoo', start=yesterday, end=yesterday)['Adj Close']
    
display(cotacoes_carteira)

,AMZN,BRK-A,GOOGL,LAND,MSFT,NFLX,PG,SBUX,WPC
Date,,,,,,,,,
2022-10-27,110.959999,437900,92.220001,20.040001,226.75,296.940002,131.880005,85.279999,74.559998

Criando um dataframe da Carteira com as quantidades de ações

In [16]:
valor_investido = pd.DataFrame()
for ativo in carteira_df['Ativos']:
    valor_investido[ativo] = cotacoes_carteira[ativo] * carteira_df.loc[carteira_df['Ativos'] == ativo, 'Qtde'].values[0]
display(valor_investido)

,AMZN,BRK-A,GOOGL,LAND,MSFT,NFLX,PG,SBUX,WPC
Date,,,,,,,,,
2022-10-27,1789.107929,2041.0519,1622.149821,1225.502168,1696.09,2709.93385,1889.273386,2047.811555,1340.514196

Criando coluna Soma no DF valor investido

In [17]:
valor_investido['TOTAL'] = valor_investido[list(valor_investido.columns)].sum(axis=1)
display(valor_investido)

,AMZN,BRK-A,GOOGL,LAND,MSFT,NFLX,PG,SBUX,WPC,TOTAL
Date,,,,,,,,,,
2022-10-27,1789.107929,2041.0519,1622.149821,1225.502168,1696.09,2709.93385,1889.273386,2047.811555,1340.514196,16361.434806

Salvando novo arquivo xls

In [ ]:
valor_investido.to_excel(r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa_dia.xlsx')