In [1]:
import pandas as pd
import win32com.client as win32
import time
import requests
import json
import openpyxl
import pandas_datareader.data as web
from datetime import date, timedelta
from openpyxl import load_workbook

Puxar Valor Dolar

In [2]:
requisicao = requests.get(r'https://economia.awesomeapi.com.br/all/USD-BRL')
cotacao = requisicao.json()
cotacao_dolar = float(cotacao['USD']['bid'])
print(cotacao_dolar)

5.1144

Puxar quantidade Dolar existente

Atualizar planilha com bolsa Down Jones

In [3]:
carteira_df = pd.read_excel(
    r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa.xlsx')
today = date.today()
yesterday = today - timedelta(days = 1)
cotacoes_carteira = pd.DataFrame()

try:
    for ativo in carteira_df['Ativos']:
        cotacoes_carteira[ativo] = web.DataReader('{}'.format(ativo), data_source='yahoo', start=yesterday, end=yesterday)['Adj Close']
except:
        for ativo in carteira_df['Ativos']:
            cotacoes_carteira[ativo] = web.DataReader('{}'.format(ativo), data_source='yahoo', start=today, end=today)['Adj Close']

valor_investido = pd.DataFrame()
for ativo in carteira_df['Ativos']:
    valor_investido[ativo] = cotacoes_carteira[ativo] * carteira_df.loc[carteira_df['Ativos'] == ativo, 'Qtde'].values[0]

valor_investido['TOTAL'] = valor_investido[list(valor_investido.columns)].sum(axis=1)

valor_investido.to_excel(r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa_dia.xlsx')

In [4]:

valor_investido = pd.DataFrame()
for ativo in carteira_df['Ativos']:
    valor_investido[ativo] = cotacoes_carteira[ativo] * carteira_df.loc[carteira_df['Ativos'] == ativo, 'Qtde'].values[0]

valor_investido['TOTAL'] = valor_investido[list(valor_investido.columns)].sum(axis=1)

valor_investido.to_excel(r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa_dia.xlsx')

In [5]:

valor_investido = pd.DataFrame()
for ativo in carteira_df['Ativos']:
    valor_investido[ativo] = cotacoes_carteira[ativo] * carteira_df.loc[carteira_df['Ativos'] == ativo, 'Qtde'].values[0]

valor_investido['TOTAL'] = valor_investido[list(valor_investido.columns)].sum(axis=1)

valor_investido.to_excel(r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa_dia.xlsx')

In [6]:
dolar_wb = load_workbook(r"C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa_dia.xlsx", data_only=True)
sh = dolar_wb["Sheet1"]
dolartt= (sh["k2"].value)
print(dolartt)

16413.3965950531

Puxando montante em criptos

In [7]:
cripto_wb = load_workbook(r"C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_criptos_dia.xlsx", data_only=True)
sh = cripto_wb["Sheet1"]
criptott= (sh["F2"].value)
print(criptott)

4591.626357654291

Abrindo Data Frames

Abrir Info.xls e alterar o valor do dolar cotação e dolar montante total

In [8]:

wb = load_workbook(filename=r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\infos.xlsx')
ws = wb.worksheets[1]
ws['I4'] = cotacao_dolar
ws['I2'] = dolartt
ws['H2'] = criptott
wb.save(r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\infos.xlsx')

Excel file, open, refresh and close

In [9]:
# Start an instance of Excel
xlapp = win32.DispatchEx("Excel.Application")

# Open the workbook in said instance of Excel
wb = xlapp.workbooks.open(r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\infos.xlsx')

# Optional, e.g. if you want to debug
xlapp.Visible = True

# Refresh all data connections.
wb.RefreshAll()
wb.Save()

# Quit
xlapp.Quit()

In [14]:
base_dash_df = pd.read_excel(
    r'base_dash.xlsx', index_col=[0])
infos_df = pd.read_excel(
    r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\infos.xlsx', index_col=[0],sheet_name=0)
display(base_dash_df)
display(infos_df)

,Data,Fundos de Investimentos,Fundos Imobiliários,Ações,COE,Renda Fixa,Disponível,Cripto,Dow Jones,Total
NaN,20/07/2022,117484.14,487055.63,14198.81,5000,13415.65,13175.88,4407.690000,68900.000000,723637.800000
NaN,27/07/2022,122779.91,533358.48,13490.60,5000,13416.94,1096.02,4407.690000,68900.000000,762449.640000
NaN,28/07/2022,122899.81,533217.58,14025.40,5000,13414.85,1096.02,4407.690000,68900.000000,762961.350000
NaN,08/08/2022,123428.76,535534.83,14904.06,5000,13400.25,2591.90,4407.690000,68900.000000,765575.590000
NaN,09/08/2022,123489.84,538180.19,14763.26,5000,13398.16,2591.90,4407.690000,68900.000000,768139.140000
NaN,11/08/2022,123615.01,535089.68,14398.16,5000,13392.04,2591.90,4842.390000,90577.650000,786480.230000
NaN,13/08/2022,123678.97,540386.52,14431.89,5000,13389.83,5706.41,4842.390000,90577.650000,792307.250000
NaN,16/08/2022,123742.97,542476.77,14873.15,5000,13385.41,5706.41,4842.390000,90577.650000,794898.340000
NaN,17/08/2022,123809.72,543304.23,14836.99,5000,13383.20,6958.82,4965.270000,92513.250000,797812.660000
NaN,18/08/2022,123939.31,545387.46,14860.73,5000,13382.43,6958.82,4823.180000,94364.016500,808715.946500
NaN,19/08/2022,124004.04,544898.73,14289.14,5000,13381.65,6958.82,4823.180000,94364.016500,807719.576500
NaN,22/08/2022,124070.76,545586.14,13805.79,5000,13380.88,6958.82,4823.180000,94364.016500,807989.586500
NaN,23/08/2022,124136.12,547708.04,14005.54,5000,13380.10,6958.82,4823.180000,94364.016500,810375.816500
NaN,25/08/2022,131229.15,546123.31,14404.91,5000,13378.89,0.00,4334.370000,89915.704000,804386.334000
NaN,26/08/2022,131299.16,544801.69,13685.47,5000,13378.91,0.00,4147.580000,88527.779000,800840.589000
NaN,29/08/2022,131368.09,546180.64,13296.25,5000,13378.94,0.00,4147.580000,88527.779000,801899.279000
NaN,30/08/2022,131436.38,546840.85,13170.66,5000,13378.96,0.00,4147.580000,88527.779000,802502.209000
NaN,31/08/2022,131501.40,553825.34,13422.64,5000,13378.99,0.00,4147.580000,88527.779000,809803.729000
NaN,02/09/2022,131569.01,554556.52,13526.57,5000,13379.04,0.00,4147.580000,87845.816000,810024.536000
NaN,05/09/2022,131637.58,559356.21,13293.24,5000,13379.07,0.00,4147.580000,87845.816000,814659.496000
NaN,06/09/2022,131773.01,558254.06,13129.31,5000,13379.10,0.00,3954.000000,85865.950000,811355.430000
NaN,12/09/2022,131975.79,552334.36,13819.20,5000,13376.42,1537.75,4338.060000,89920.287500,812301.867500
NaN,15/09/2022,132111.25,550311.83,13140.26,5000,13375.95,3906.25,4338.060000,89920.287500,812103.887500
NaN,17/09/2022,132247.66,551273.38,12914.66,5000,13375.64,3906.25,4338.060000,89920.287500,812975.937500
NaN,20/09/2022,132383.86,554077.79,12786.78,5000,13376.18,5816.41,3812.120000,85558.186000,812811.326000
NaN,22/09/2022,132518.37,553521.98,12622.43,5000,13377.27,0.00,3812.120000,85558.186000,806410.356000
NaN,27/09/2022,132723.82,550153.53,12671.08,5000,13380.24,0.00,4127.200000,83409.904800,801465.774800
NaN,29/09/2022,132858.73,548647.73,12529.73,5000,13374.21,0.00,4127.200000,83409.904800,799947.504800
NaN,30/09/2022,132925.11,548156.28,12598.44,5000,13374.04,0.00,4027.360000,84375.918000,800457.148000
NaN,03/10/2022,132994.06,545511.58,12482.70,5000,13373.88,0.00,4027.360000,84375.918000,797765.498000
NaN,04/10/2022,133063.03,549032.94,12731.22,5000,13373.71,0.00,4027.360000,84375.918000,801604.178000
NaN,06/10/2022,133284.69,552289.16,12948.62,5000,13373.38,0.00,4027.360000,84375.918000,805299.128000
NaN,07/10/2022,133352.98,554834.85,12606.96,5000,13373.21,1506.81,4027.360000,84375.918000,809078.088000
NaN,10/10/2022,133422.53,554979.02,12450.40,5000,13373.05,1506.81,3886.580000,80112.636800,804731.026800
NaN,13/10/2022,133561.59,551720.81,12323.87,5000,13375.84,1506.81,3930.270000,83055.200000,804474.390000
NaN,19/10/2022,133771.23,549049.47,12196.70,5000,13380.32,4163.53,3966.440000,84170.964400,805698.654400
NaN,22/10/2022,133980.30,550641.25,12137.87,5000,13386.93,5339.21,3866.880000,85713.637200,810066.077200
NaN,25/10/2022,134118.67,547268.44,12803.15,5000,13391.12,0.00,4095.190000,88790.423000,805466.993000
NaN,28/10/2022,134253.77,544338.99,11764.88,5000,13408.39,0.00,4452.400000,87433.871458,800652.301458
NaN,31/10/2022,134390.28,545032.14,11959.95,5000,13413.30,0.00,4591.626358,85014.829004,799402.125361

,Data,Fundos de Investimentos,Fundos Imobiliários,Ações,COE,Renda Fixa,Disponível,Cripto,Dow Jones,Total
NaN,31/10/2022,134390.28,545032.14,11959.95,5000,13413.3,0,4591.626358,84043.155925,798430.452283

Concatenar com novas infos

In [15]:
bases_df = [base_dash_df, infos_df]
base_dash_df = pd.concat(bases_df, )
print(base_dash_df)
base_dash_df.to_excel(r'base_dash.xlsx')

           Data  Fundos de Investimentos  Fundos Imobiliários     Ações   COE  \
NaN  20/07/2022                117484.14            487055.63  14198.81  5000
NaN  27/07/2022                122779.91            533358.48  13490.60  5000
NaN  28/07/2022                122899.81            533217.58  14025.40  5000
NaN  08/08/2022                123428.76            535534.83  14904.06  5000
NaN  09/08/2022                123489.84            538180.19  14763.26  5000
NaN  11/08/2022                123615.01            535089.68  14398.16  5000
NaN  13/08/2022                123678.97            540386.52  14431.89  5000
NaN  16/08/2022                123742.97            542476.77  14873.15  5000
NaN  17/08/2022                123809.72            543304.23  14836.99  5000
NaN  18/08/2022                123939.31            545387.46  14860.73  5000
NaN  19/08/2022                124004.04            544898.73  14289.14  5000
NaN  22/08/2022                124070.76            545586.14  13805.79  5000
NaN  23/08/2022                124136.12            547708.04  14005.54  5000
NaN  25/08/2022                131229.15            546123.31  14404.91  5000
NaN  26/08/2022                131299.16            544801.69  13685.47  5000
NaN  29/08/2022                131368.09            546180.64  13296.25  5000
NaN  30/08/2022                131436.38            546840.85  13170.66  5000
NaN  31/08/2022                131501.40            553825.34  13422.64  5000
NaN  02/09/2022                131569.01            554556.52  13526.57  5000
NaN  05/09/2022                131637.58            559356.21  13293.24  5000
NaN  06/09/2022                131773.01            558254.06  13129.31  5000
NaN  12/09/2022                131975.79            552334.36  13819.20  5000
NaN  15/09/2022                132111.25            550311.83  13140.26  5000
NaN  17/09/2022                132247.66            551273.38  12914.66  5000
NaN  20/09/2022                132383.86            554077.79  12786.78  5000
NaN  22/09/2022                132518.37            553521.98  12622.43  5000
NaN  27/09/2022                132723.82            550153.53  12671.08  5000
NaN  29/09/2022                132858.73            548647.73  12529.73  5000
NaN  30/09/2022                132925.11            548156.28  12598.44  5000
NaN  03/10/2022                132994.06            545511.58  12482.70  5000
NaN  04/10/2022                133063.03            549032.94  12731.22  5000
NaN  06/10/2022                133284.69            552289.16  12948.62  5000
NaN  07/10/2022                133352.98            554834.85  12606.96  5000
NaN  10/10/2022                133422.53            554979.02  12450.40  5000
NaN  13/10/2022                133561.59            551720.81  12323.87  5000
NaN  19/10/2022                133771.23            549049.47  12196.70  5000
NaN  22/10/2022                133980.30            550641.25  12137.87  5000
NaN  25/10/2022                134118.67            547268.44  12803.15  5000
NaN  28/10/2022                134253.77            544338.99  11764.88  5000
NaN  31/10/2022                134390.28            545032.14  11959.95  5000
NaN  31/10/2022                134390.28            545032.14  11959.95  5000

     Renda Fixa  Disponível       Cripto     Dow Jones          Total
NaN    13415.65    13175.88  4407.690000  68900.000000  723637.800000
NaN    13416.94     1096.02  4407.690000  68900.000000  762449.640000
NaN    13414.85     1096.02  4407.690000  68900.000000  762961.350000
NaN    13400.25     2591.90  4407.690000  68900.000000  765575.590000
NaN    13398.16     2591.90  4407.690000  68900.000000  768139.140000
NaN    13392.04     2591.90  4842.390000  90577.650000  786480.230000
NaN    13389.83     5706.41  4842.390000  90577.650000  792307.250000
NaN    13385.41     5706.41  4842.390000  90577.650000  794898.340000
NaN    13383.20     6958.82  4965.270000  92513.250000  797812.660000
NaN    13382.43     6958.82  4823.180000  94364.016500  808715.946500
NaN    13381.65     6958.82  4823.180000  94364.016500  807719.576500
NaN    13380.88     6958.82  4823.180000  94364.016500  807989.586500
NaN    13380.10     6958.82  4823.180000  94364.016500  810375.816500
NaN    13378.89        0.00  4334.370000  89915.704000  804386.334000
NaN    13378.91        0.00  4147.580000  88527.779000  800840.589000
NaN    13378.94        0.00  4147.580000  88527.779000  801899.279000
NaN    13378.96        0.00  4147.580000  88527.779000  802502.209000
NaN    13378.99        0.00  4147.580000  88527.779000  809803.729000
NaN    13379.04        0.00  4147.580000  87845.816000  810024.536000
NaN    13379.07        0.00  4147.580000  87845.816000  814659.496000
NaN    13379.10        0.00  3954.000000  85865.950000  811355.430000
NaN    13376.42     1537.75  4338.060000  89920.287500  812301.867500
NaN    13375.95     3906.25  4338.060000  89920.287500  812103.887500
NaN    13375.64     3906.25  4338.060000  89920.287500  812975.937500
NaN    13376.18     5816.41  3812.120000  85558.186000  812811.326000
NaN    13377.27        0.00  3812.120000  85558.186000  806410.356000
NaN    13380.24        0.00  4127.200000  83409.904800  801465.774800
NaN    13374.21        0.00  4127.200000  83409.904800  799947.504800
NaN    13374.04        0.00  4027.360000  84375.918000  800457.148000
NaN    13373.88        0.00  4027.360000  84375.918000  797765.498000
NaN    13373.71        0.00  4027.360000  84375.918000  801604.178000
NaN    13373.38        0.00  4027.360000  84375.918000  805299.128000
NaN    13373.21     1506.81  4027.360000  84375.918000  809078.088000
NaN    13373.05     1506.81  3886.580000  80112.636800  804731.026800
NaN    13375.84     1506.81  3930.270000  83055.200000  804474.390000
NaN    13380.32     4163.53  3966.440000  84170.964400  805698.654400
NaN    13386.93     5339.21  3866.880000  85713.637200  810066.077200
NaN    13391.12        0.00  4095.190000  88790.423000  805466.993000
NaN    13408.39        0.00  4452.400000  87433.871458  800652.301458
NaN    13413.30        0.00  4591.626358  85014.829004  799402.125361
NaN    13413.30        0.00  4591.626358  84043.155925  798430.452283

Plotar Gráfico

#base_dash_df.plot(x="Data", figsize=(20, 10))
#display(base_dash_df)

Procurando data do Posição Detalhada

In [12]:
posicao_detalhada_df = pd.read_excel(
    r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\PosicaoDetalhada.xlsx', index_col=[0])
posicao = posicao_detalhada_df.columns[4]
data_posicao_detalhada = posicao[17:27]
print(data_posicao_detalhada)

31/10/2022

Enviando por email

'''outlook = win32.Dispatch('outlook.application')

data = data_posicao_detalhada
email = 'beligolli@hotmail.com'


mail = outlook.CreateItem(0)
mail.To = email
mail.Subject = 'Dash_Financeiro - {}.'.format(data)
mail.Body = """
Segue Dash Financeiro até o dia {} 

att.,
""".format(data)
#ou mail.HTMLBody = '<p>Corpo do Email em HTML</p>'

# Anexos (pode colocar quantos quiser):
attachment = r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\base_dash.xlsx'
mail.Attachments.Add(attachment)

mail.Send()'''

Codigo para informar que a operação foi concluida

In [13]:
# from tkinter import *
# from tkinter import messagebox
# janela = Tk()
# messagebox.showinfo('Status', 'Processo Concluído.')
# janela.destroy