In [1]:
import pandas as pd
import yfinance as yf

In [196]:
carteirausa_df = pd.read_excel(
    r'C:\Users\belig\OneDrive\Python\MeuProjeto\Projetos\dash_investimentos\Resumo_Investimentos\Carteira_usa.xlsx', index_col=0)
display(carteirausa_df)

,AMZN,BRK-A,GOOGL,LAND,MSFT,PG,SBUX,WPC,TGT
Ativos,,,,,,,,,
Qtde,16.1239,0.004661,17.59,61.1528,7.48,14.3257,24.0128,17.979,16.966275
ValorDol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Valor Real,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
tickers = "GOOGL"
datayf = yf.download(tickers, start="2022-12-22", end="2022-12-27")
# datayf = datayf['Adj Close']
display(datayf)

[*********************100%***********************]  1 of 1 completed

                 Open       High    Low      Close  Adj Close    Volume
Date
2022-12-22  88.160004  88.540001  86.32  87.760002  87.760002  27658300
2022-12-23  87.110001  89.550003  87.07  89.230003  89.230003  22994400

In [197]:
for i in datayf:
    x = datayf[i][0]
    #print(x)
    carteirausa_df[i]['ValorDol'] = x
    #print(carteirausa_df['AMZN']['ValorDol'])
    carteirausa_df[i]['ValorDol'] = carteirausa_df[i]['ValorDol'] * carteirausa_df[i]['Qtde']
carteirausa_df['Total'] = carteirausa_df.sum(axis=1)
display(carteirausa_df)

,AMZN,BRK-A,GOOGL,LAND,MSFT,PG,SBUX,WPC,TGT,Total
Ativos,,,,,,,,,,
Qtde,16.123900,0.004661,17.590000,61.152800,7.480000,14.325700,24.012800,17.979000,16.966275,175.635136
ValorDol,1351.021596,2138.000700,1543.698438,1149.672593,1781.661218,2180.228318,2347.491379,1416.565426,2398.183129,16306.522797
Valor Real,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000